body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

#calendar {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
  border: 1px solid #ccc;
}

#calendar td {
  text-align: center;
  padding: 8px;
  //border: 1px solid #ccc;
  //background-color: #fffcec;
}

#calendar th {
  background-color: #f2f2f2;
  font-weight: bold;
  border: 1px solid red;
}

/* New styles for task text */
.task-container {
  position: relative;
  border: 1px solid black; /* Add a border to the task container */
  background-color: #16161d;
  padding-x: 4px;
  height: 100px;
  color: white; /* Add a soft background color */
}

.date {
  display: flex;
  justify-content: space-between;
  background-color: #f0fff0;
  font-size: 12px; /* Adjust the font size as needed */
  text-align: left;
  padding: 5px;
  color: #0f0f0f;
}

.day-name {
  font-size: 12px; /* Adjust the font size as needed */
  text-align: center;
  width: fit-content;
  padding: 0px 3px;
  font-weight: bold;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.remaining {
  font-size: 9px;
  padding: 5px 0px;
  font-weight: font-semibold;
  color: #ffd1dc;
}

.phaseTwo {
  color: #ffe5b4;
}

.secondPhase {
  padding: 2px 0px;
  font-weight: semi-bold;
  margin-bottom: 1px;
  font-size: 8px;
  color: #eaf4fc;
}

.monthName {
  font-size: 8px;
  padding-x: 2px;
  margin-left: 3px;
}

.task {
  font-size: 10px; /* Adjust the font size as needed */
  text-align: left;
  padding: 5px;
  border-top: 1px solid black;
  font-weight: bold;
}
