body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: none;
}

#calendar {
  border-collapse: collapse;
  width: 80%;
  margin-top: 20px;
  border: 1px solid #ccc;
}

#calendar td {
  text-align: center;
  padding: 8px;
  //border: 1px solid #ccc;
  //background-color: #fffcec;
}

#calendar th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* New styles for task text */
.task-container {
  position: relative;
  border: 1px solid #ccc; /* Add a border to the task container */
  background-color: #f7f7f7; /* Add a soft background color */
}

.date {
  display: flex;
  justify-content: space-between;
  background-color: #f0fff0;
  font-size: 12px; /* Adjust the font size as needed */
  text-align: left;
  padding: 5px;
  color: #0f0f0f;
}

.day-name {
  font-size: 12px; /* Adjust the font size as needed */
  text-align: center;
  width: fit-content;
  padding: 0px 3px;
  font-weight: bold;
}

.task {
  font-size: 10px; /* Adjust the font size as needed */
  text-align: left;
  padding: 5px;
}
